.cartContainer {
  position: fixed;
  right: 0;
  right: env(safe-area-inset-right);
  bottom: 0;
  bottom: constant(safe-area-inset-bottom);
  bottom: env(safe-area-inset-bottom);
  left: 0;
  left: constant(safe-area-inset-left);
  background: #fff;

  .cartTipContainer {
    position: absolute;
    right: 12px;
    bottom: 34.5px;
    left: 12px;
    z-index: 2;
    height: 54px;
    padding-top: 6px;
    font-size: 12px;
    color: #222426;
    text-align: center;
    background: #fff8e1;
    border-radius: 12px 12px 0 0;
  }

  .cart {
    position: absolute;
    right: 12px;
    bottom: 13px;
    left: 12px;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 50px;
    color: #858687;
    background: #222426;
    border-radius: 25px;

    .icon {
      position: relative;
      top: -10px;
      flex-shrink: 0;
      width: 47px;
      height: 69px;
      margin: 0 10px;
      background: #333;
      background: url("https://zqran.gitee.io/images/waimai/cart-1.png");
      background-repeat: no-repeat;
      background-size: contain;
    }

    .icon.fill {
      background: url("https://zqran.gitee.io/images/waimai/cart-2.png");
      background-repeat: no-repeat;
      background-size: contain;
    }

    .cartCornerMark {
      position: absolute;
      top: 32px;
      right: -5px;
      width: 30px;
      height: 30px;
      font-size: 20px;
      line-height: 30px;
      color: #fff;
      text-align: center;
      background-color: #fb4e44;
      border-radius: 50%;
      transform: scale(0.5) translate(50%, -50%);
    }

    .main {
      flex: 1 1 auto;
      font-size: 12px;
    }

    .payableAmount {
      margin-right: 5px;
      font-size: 22px;
      color: #fff;
    }

    .payableAmountUnit {
      display: inline-block;
      font-size: 14px;
    }

    .text {
      font-size: 12px;
    }

    .minFee {
      padding: 0 12px;
      font-size: 14px;
      font-weight: 500;
      line-height: 50px;
      color: #fff;
    }

    .goToPreview {
      position: relative;
      display: flex;
      justify-content: center;
      width: 84px;
      height: 50px;
      font-size: 14px;
      font-weight: 500;
      line-height: 50px;
      color: #222426;
      background: #f8c74e;
      background-image: linear-gradient(135deg, #fd3 0%, #fb3 100%);
      border-radius: 0 22.5px 22.5px 0;
    }
  }

  .cartPanel {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
    color: #333;
    background: #fff;
    border-radius: 12px 12px 0 0;
    transition: transform 200ms ease 0s;
    transform: translateY(0);

    .header {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      height: 40.5px;
      padding: 12px 16px;

      .text {
        height: 16.5px;
        font-size: 12px;
        font-weight: 600;
        line-height: 16.5px;
        color: #33312e;
      }

      .clearCart {
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        height: 16.5px;
        font-size: 12px;
        line-height: 16.5px;
        color: #666;

        &::before {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-right: 2.5px;
          vertical-align: bottom;
          content: '';
          background: url("https://zqran.gitee.io/images/waimai/del.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }
    }

    .scrollArea {
      max-height: 350px;
      overflow: scroll;
      border-top: 1px solid rgb(216 216 216 / 30%);

      &::after {
        display: block;
        height: 90px;
        content: '';
      }

      .cartItem {
        position: relative;
        box-sizing: border-box;
        display: flex;
        padding: 16px 0;
        margin: 0 15px;

        &::after {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 70px;
          height: 1px;
          content: '';
          background-color: rgb(232 232 232 / 30%);
        }
      }

      .shopPic {
        width: 60px;
        height: 60px;
        border-radius: 6px;
      }

      .main {
        flex: auto;
        padding-right: 10px;
        margin-left: 10px;
      }

      .skuInfo {
        flex: 1 1 auto;
        min-width: 0;
      }

      .name {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: #33312e;
      }

      .payableAmount {
        display: flex;
        align-items: flex-start;
        height: 29px;
        margin-top: 15px;
        font-weight: 600;
        color: #fb4e44;
      }

      .yuan {
        width: 11.5px;
        margin-top: 10px;
        font-size: 12px;
        line-height: 16.5px;
      }

      .price {
        margin-top: 4px;
        font-size: 18px;
        line-height: 25px;
      }

      .skuBtnWrapper {
        width: 70px;
        margin-top: 51.5px;
      }
    }
  }

  .cartOverlay {
    position: fixed;
    inset: 0;
    display: none;
    overflow: hidden;
    background-color: rgb(0 0 0 / 50%);
  }

  .cartOverlay.visible,
  .cartPanel.visible {
    display: block;
  }
}
