.category {
  .cate-list {
    & > .cate-goods:last-child {
      padding-bottom: 0;
    }
  }

  .cate-title {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 8px 13px;
    overflow: hidden;
    font-size: 14px;
    line-height: 24px;
    color: #222426;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #fff;
  }
}
